/* 
 KEY
 -----------
 ID = #
 Class = .
*/
html{
	font: normal 20px/1.5 sans-serif;
	width: 100%;
	background-color: #5895f0;
}

body{
	margin: 0%;
}

#title-bar{
	width: 100%;
	background-color: #5895f0;
	margin: 0px;
}

#page-title{
	text-align: center;
}

#page-content{
	margin: 0% 15% 0% 15%;
	padding: 5%;
	background-color: white;
	width: 50%;
	align-self: center;
}

#existing-movies-grid{
	display: inline-table;
}

.existing-movie-container{
	margin: 1em;
	padding: .5em 1em .5em 1em;
	border: 1.5px solid grey;
	border-radius: 10px;
	/* display: inline-block; */
	vertical-align: top;
	width: 10em;
	height: 11em;
}

.good{
	color: blue;
}

.rating{
	color: red;
}