/* 
 KEY
 -----------
 ID = #
 Class = .
*/
html{
	width: 100%;
	background-color: #38527a;
}

#content{
	background-color: white;
	width: 65%;
	align-self: center;
}

.good{
	color: blue;
}

.bad{
	color: red;
}